/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.operations button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}
.operations button:hover {
  background-color: #dcdcdc;
}
#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
