<!-- @format -->

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Panier</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <h1>Votre panier</h1>
    <ul>
      {% for product in products %}
      <li>{{ product.name }} - {{ product.price }} EUR</li>
      {% endfor %}
    </ul>
    <p>Total : {{ total }} EUR</p>
    <form action="{{ url_for('checkout') }}" method="POST">
      <!-- Hidden input to send the total amount -->
      <input type="hidden" name="total" value="{{ total }}" />
    
      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="{{ stripe_public_key }}"
        data-amount="{{ total * 100 }}"
        data-name="Mon Site"
        data-description="Paiement"
        data-currency="EUR"></script>
    </form>
    
  </body>
</html>
