<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Produits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='encher_user.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_enchere.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Menu with Logo -->
     <!-- Navigation Menu with Logo -->
     <header class="welcome-section">
        <div id="navbar">
          <a href="{{ url_for('logout') }}" class="logout-text">Logout</a>
              <!-- <img
                src="{{ url_for('static', filename='img/logout.png') }}"
                alt="Logout" /> -->
            </a>
          <nav>
            <ul >
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('home') }}#about">About</a></li>
              <li><a href="{{ url_for('index_user') }}">Products</a></li>
              <li><a href="{{ url_for('encher_user') }}">Enchères</a></li>
              <li><a href="{{ url_for('contact_us') }}">Contact</a></li>
          </ul>
      </nav>
      </div>
    
        <!-- Welcome Section with Background Image and Slogan -->
        
    
        </header>
    
    <div class="slogan">
        <p>It's time to discover our vintage products up for auction.</p>
    </div>

    <!-- Lien "Voir le panier" en haut -->
    <div class="cart-container">
        <a href="{{ url_for('mes_encheres') }}" class="cart-link">View my bids</a>
    </div> 

    <!-- Liste des enchères -->
    <div class="product-container">
        {% for enchere in encheres %}
        <div class="product-card">
            <a href="{{ url_for('enchere_detail', enchere_id=enchere.id_enchere) }}">
            <img src="{{ url_for('static', filename= enchere.image_url ) }}" alt="{{ enchere.name }}" />
            <h3>{{ enchere.name }}</h3>
            <p>{{ enchere.prix }} EUR</p>
            <p>Fin de l'enchère : {{ enchere.date_fin }}</p>
        </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
