<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" />
      </div>
      <ul class="nav-links">
        <li><a href="{{ url_for('home_admin') }}">Dashboard</a></li>
        <li><a href="{{ url_for('gestion_produits') }}">Produits</a></li>
        <li><a href="{{ url_for('gestion_encheres') }}">Enchères</a></li>
        <li><a href="{{ url_for('admin_messages') }}">Messages</a></li>
      </ul>
    </nav>

    <div class="admin-dashboard">
      <h1>Admin Dashboard</h1>

      <div class="dashboard-buttons">
        <a href="{{ url_for('gestion_produits') }}">
          <button class="dashboard-btn">Product Management</button>
        </a>
        <a href="{{ url_for('gestion_encheres') }}">
          <button class="dashboard-btn">Enchère Management</button>
        </a>
        <a href="{{ url_for('admin_messages') }}">
          <button class="dashboard-btn">Messages Management</button>
        </a>
      </div>
    </div>
  </body>
</html>
