<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Produits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Menu with Logo -->
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" />
        </div>
        <ul class="nav-links">
            <li><a href="">Accueil</a></li>
            <li><a href="">Produits</a></li>
            <li><a href="{{ url_for('about_us') }}">À propos</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>

    <!-- Welcome Section with Background Image and Slogan -->
    <header class="welcome-section">

    </header>
    <div class="slogan">
      <p>Décorez votre monde avec des créations uniques et faites main.</p>
  </div>
    <!-- Lien "Voir le panier" en haut -->
    <div class="cart-container">
        <a href="{{ url_for('view_cart') }}" class="cart-link">Voir le panier</a>
    </div> 

    <!-- Product Display -->
    <div class="product-container">
        {% for product in products %}
        <div class="product-card {% if product.stock == 0 %}out-of-stock{% endif %}">       
          <a href="{{ url_for('product_detail', product_id=product.id) }}">
            <img src="{{ url_for('static', filename= product.image_url ) }}" alt="{{ product.name }}" />
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} EUR</p>
          </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>