<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Produits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_enchere.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <!-- Navigation Menu with Logo -->
    <header class="welcome-section">
    <div id="navbar">
      <a href="{{ url_for('logout') }}" class="logout-text">Logout</a>
          <!-- <img
            src="{{ url_for('static', filename='img/logout.png') }}"
            alt="Logout" /> -->
        </a>
      <nav>
        <ul >
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('home') }}#about">About</a></li>
          <li><a href="{{ url_for('index_user') }}">Products</a></li>
          <li><a href="{{ url_for('encher_user') }}">Enchères</a></li>
          <li><a href="{{ url_for('contact_us') }}">Contact</a></li>
      </ul>
  </nav>
  </div>

    <!-- Welcome Section with Background Image and Slogan -->
    

    </header>
    <div class="slogan">
      <p>Decorate your world with unique, handmade creations.</p>
  </div>
    <!-- Lien "Voir le panier" en haut -->
    <div class="cart-container">
      <a href="{{ url_for('view_cart') }}" class="cart-link">
        View my cart  <span class="material-icons">shopping_cart</span> 
    </a>
    </div> 

    <!-- Product Display -->
    <div class="product-container">
        {% for product in products %}
        <div class="product-card {% if product.stock == 0 %}out-of-stock{% endif %}">       
          <a href="{{ url_for('product_detail', product_id=product.id) }}">
            <img src="{{ url_for('static', filename= product.image_url ) }}" alt="{{ product.name }}" />
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} EUR</p>
          </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>